.block-interior_header {
	.top-section{
		background-color: rgba(255,255,255,.6);
		position:absolute;
		top:0;
		width:100%;
		z-index:9999;
		.main-navigation {
			.nav-container{
				max-width: 1200px;
				margin-left: auto;
				margin-right: auto;
				padding-left:10%;
				padding-right:10%;
			}
			margin:0px;
			padding:0;
			width:100%;
			text-align:center;
			float:none !important;
			//@include span(8 at 5);
			.menu-toggle {
				display:none;
				float:right;
				font-size:13px;
				color:#000;
				line-height:19px;
				border:1px solid #000;
				padding:5px 10px;
				text-transform:uppercase;
				background:#fff;
				margin:0px;
				@media #{$bp-tab} {
					display:block;	
				}
			}		
			ul#primary-menu {
				margin:0px;
				padding:0px;
				list-style:none;
				color:$black;
				> li {
					padding:14px;
					&:before{
//						content:'\2022';
						content:'';
						position:absolute;
						right:0;
						top:12px;
						font: 25px arial, sans-serif;
					}
					text-align:center;
					a {
						margin:0px;
						@include default-font;
						color:$black;
						font-size:14px;
					}
					>a{
						font-size:18px;
						text-transform:lowercase;
						display:block;
						width:100%;
					}
				}
				> li:nth-child(4) {
					&:before{
						content:'';
					}
				}
			}
			#primary-menu li {
				list-style: none;
				padding: 0;
			}	
			#primary-menu > li {
				width:25%;
				text-align:right;
				position:relative;
				float:left;
				margin:0;
				padding:10px;
			}
			.menu-item{
				a{
					&:hover{
						text-decoration:none;
					}
				}
				.sub-menu {
					background-color: rgba(255,255,255,.6);
					display: none;
					position:absolute;
					top:52px;
					left:0;
					padding:0;
					
					li{
						text-align:left;
						margin:10px;
						padding:0;
						float:none;
						width:200px;
						a{
							margin-left:20px !important;
						}
					}
				}
	
			}
}

@media #{$bp-tab} {
	#primary-menu {
		width: 300px;
		display:none;
		text-align:center;
		border-top:solid 1px #b5dbe9;
		border-bottom:solid 1px #3184a1;
		-webkit-transform:translateX(-300px);
		-ms-transform:translateX(-300px);
		transform:translateX(-300px);
		position:fixed;
	    height: 100%;
	    overflow-y: scroll;
	}
	.menu.is-active {
		-webkit-transform:translateX(0);
		-ms-transform:translateX(0);
		transform:translateX(0);
	}
	.c-mask {
		z-index:100;
		top:0;
		left:0;
		width:0;
		height:0;
		background-color:#000;
		opacity:0;
		-webkit-transition:opacity .3s, width 0s .3s, height 0s .3s;
		transition:opacity .3s, width 0s .3s, height 0s .3s
	}
	.c-mask.is-active {
		width:100%;
		height:100%;
		opacity:.7;
		-webkit-transition:opacity .3s;
		transition:opacity .3s
	}
	.masthead.has-push-left {
		-webkit-transform:translateX(300px);
		-ms-transform:translateX(300px);
		transform:translateX(300px)
	}
}
	}
  position: relative;
  font-size: 0; // to keep inline-block display of half-width elements correct

  &+ .block-media {
    border-top: 1px solid #f5f5f5;
  }

  .bg-image {
    position: relative;
    height: 350px;
	@media #{$bp-tab} {
		height:200px;
	}

    width: 100%;
    background-size: cover;
    background-position: top center;


    .img-overlay {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0px;
      left: 0;
    }
    @media only screen and (max-width: 700px) {
      height: auto;
      padding-bottom: 100%;
    }
  }

  .title {
    @include vertical-align(absolute);
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    color: white;
	.svg {
		height:auto;
		width:70%;
		@media #{$bp-tab} {
			width:auto;
		}
		path{
			background-color:white;
			fill:white;
		}
		text{
			fill:white;
			color:white;
		}	
	}
    * {
      color: inherit !important;
    }

    img {
      max-width: 100%;
      height: auto;
      margin-bottom: 35px;
    }

    .title-wrap {
      max-width: 60%;
      margin-left: auto;
      margin-right: auto;

      h3 {
        font-size: 30px;
        margin-bottom: 35px;
      }

      .subtitle {
        font-size: 18px;
        margin-bottom: 30px;
        display: block;
      }

      a {
        display: block;
        padding: 15px 50px;
        font-size: 18px;
        border-top: 2px solid white;
        display: inline-block;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          max-height: 0;
          -webkit-transition: max-height .5s ease;
          transition: max-height .5s ease;
          opacity: .5;
          z-index: -1;
        }
      }

      &:hover {
        a {
          &::after {
            max-height: 70px;
            -webkit-transition: max-height .5s ease;
            transition: max-height .5s ease;
          }
        }
      }

      @media #{$bp-mobile} {
        max-width: 85%;

        img {
          max-width: 80%;
          margin-bottom: 15px;
        }

        h3 {
          margin-bottom: 15px;
        }

        a {
          padding-left: 10px;
          padding-right: 10px;
          min-width: 75px;
        }
      }
    }

    
  }

}

.home .bg-image{
	height:100vh;
}
